<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.d8coach.android.d8coach"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:launchMode="standard" android:name=".RegisterActivity"></activity>
		<activity android:launchMode="standard" android:name=".LoginActivity"></activity>
		<activity android:launchMode="singleTask" android:name=".ObjectivesActivity"></activity>
		<activity android:launchMode="standard" android:name=".TargetListActivity"></activity>
		<activity android:launchMode="standard" android:name=".TargetAddActivity"></activity>

    </application>
    <uses-sdk android:minSdkVersion="4" />

</manifest> 
